/**
 * Custom styles for VVV dashboard
 */

/**
 * No scrolling for hosts box
 */
 .sites {
     max-height: 100%;
     overflow-y: auto;
     overflow-x: auto;
 }

 /**
  * Style overrides
  */

 .btn-primary {
   background-color: #1171A3;
 }

 .btn-success {
   background-color: #43C83C;
 }

 .btn-warning {
   background-color: #F88529;
 }

 .btn-danger {
   background-color: #FA3031;
 }

 .btn-info {
   background-color: #5bc0de;
 }

 .btn-default {
   color: #fff;
   background-color: #333;
 }

 .alert-success {
   background-color: #dff0d8;
   border-color: #d6e9c6;
   color: #3c763d;
 }

 .alert-success hr {
   border-top-color: #c9e2b3;
 }

 .alert-success .alert-link {
   color: #2b542c;
 }

 .alert-info {
   background-color: #d9edf7;
   border-color: #bce8f1;
   color: #31708f;
 }

 .alert-info hr {
   border-top-color: #a6e1ec;
 }

 .alert-info .alert-link {
   color: #245269;
 }

 .alert-warning {
   background-color: #fcf8e3;
   border-color: #faebcc;
   color: #8a6d3b;
 }

 .alert-warning hr {
   border-top-color: #f7e1b5;
 }

 .alert-warning .alert-link {
   color: #66512c;
 }

 .alert-danger {
   background-color: #f2dede;
   border-color: #ebccd1;
   color: #a94442;
 }

 .alert-danger hr {
   border-top-color: #e4b9c0;
 }

 .alert-danger .alert-link {
   color: #843534;
 }

 .close {
   float: right;
   font-size: 21px;
   font-weight: bold;
   line-height: 1;
   color: #000;
   text-shadow: 0 1px 0 #fff;
   opacity: 0.2;
   filter: alpha(opacity=20);
 }

 .close:hover, .close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
 }

 body{
   color: white;
   background-color: #333333;
 }

.sidebar {
    background-color: #2a2a2a;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #1a1a1a !important;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #222222;
}

.red{
  color: #ee0000;
}

.code{
  background-color: lightgrey;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td,
.table > thead > tr > th,
.table > tbody + tbody,
.table-bordered,
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td,
legend,
.sidebar{
  border-color: #444 !important;
}
