    /**
     * Custom styles for TVV dashboard
     * @since    1.0.0
     * @version  1.0.0
     */

    /**
     * Colors
     */
    .btn-primary {
        color: #ccc !important;
        background: #222 !important;
        border-color: #0b40a2;
    }

    /**
     * Button styles
     */
    .btn-success {
        color: #ccc !important;
        background: #222 !important;
        border-color: #39bb4b;
    }

    .btn-warning {
        color: #ccc !important;
        background: #222 !important;
        border-color: #f18615;
    }

    .btn-danger {
        color: #ccc !important;
        background: #222 !important;
        border-color: #5305c7;
    }

    .btn-info {
        color: #ccc !important;
        background: #222 !important;
        border-color: #0dbdb7;
    }

    .btn-default {
        color: #ccc !important;
        background: #222 !important;
        border-color: #cc1466;
    }

    input, button {
        border-color: #40c2ac !important;
        border-radius: 3px;
        color: #aaa !important;
        background: #222 !important;
    }

    /**
     * Alerts, Warnings, Errors
     */
    .alert-success {
        background-color: rgba(27, 29, 26, 0.6);
        border-color: #4cd892;
        color: #4cd892;
    }

    .alert-success hr {
        border-top-color: #c9e2b3;
    }

    .alert-success .alert-link {
        color: #39bb4b;
    }

    .alert-info {
        background-color: #d9edf7;
        border-color: #bce8f1;
        color: #463c6b;
    }

    .alert-info hr {
        border-top-color: #a6e1ec;
    }

    .alert-info .alert-link {
        color: #463c6b;
    }

    .alert-warning {
        background-color: #fcf8e3;
        border-color: #faebcc;
        color: #8a6d3b;
    }

    .alert-warning hr {
        border-top-color: #f7e1b5;
    }

    .alert-warning .alert-link {
        color: #66512c;
    }

    .alert-danger {
        background-color: rgba(25, 17, 17, 0.66);
        border-color: #cc1466;
        color: #cc1466;
    }

    .alert-danger hr {
        border-top-color: #e4b9c0;
    }

    .alert-danger .alert-link {
        color: #cc1466;
    }

    .red{
        color: #cc1466  ;
    }

    span.label.label-danger {
        border: 1px dashed #d9534f;
        background-color: rgba(0, 0, 0, 0);
        width: 100% !important;
    }

    .label.label-danger {
        border: 1px dashed #d9534f;
        background-color: rgba(0, 0, 0, 0);
        display: block;
        position: relative;
        font-weight: 400;
        top: 5px;
        color: #d9534f !important;
        margin-bottom: 10px;
    }

    .label-success {
        border: 1px dashed #5cb85c;
        background-color: rgba(0, 0, 0, 0);
        display: block;
        top: 10px;
        position: relative;
        font-weight: 400;
        color: #5cb85c;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .error-type{
        color: #c7254e;
    }

    /**
     * Header & Navigation Styles
     */
    .page-header .fa {
        color: #5305c7 !important;
    }

    h1.page-header {
        color: #999999;
        border: none;
    }

    .navbar.navbar-inverse.navbar-fixed-top {
        background-color: #151515;
    }

    .navbar-nav > li > .dropdown-menu {
        background-color: #353535;
    }

    /**
     * Body styles
     */
    body{
        color: #999999;
        background-color: #222222;
    }

    code{
        padding: 2px 4px;
        font-size: 90%;
        color: #c7254e !important;
        white-space: nowrap;
        border-radius: 4px;
        font-size: 12px;
        border: 1px dashed #c7254e !important;
        margin: 0 3px !important;
        background: none !important;
    }

    .line{
        color: #39bb4b;
    }

    .time{
        color: #6b4ae2;
    }

    .in-file {
        font-weight: bold;
        color: #dcd45d;
    }

    /**
     * No scrolling for sites/hosts box
     */
    .sites {
        max-height: 100%;
        overflow: hidden;
    }

    /**
     * Table styles
     */
    .table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
        background-color: #1a1a1a !important;
    }

    .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
        background-color: #2a2a2a;
    }

    .gitter, .github-link, .page-header, .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td, .table > thead > tr > th, .table > tbody + tbody, .table-bordered, .table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td, legend, .sidebar {
         border-color: #1a1a1a !important;
         border: solid 1px rgba(211,211,211,0.5);
    }

    /**
     * Input styles
     */
    span.input-group-addon {
        background: #1a1a1a;
        color: #999;
        border-color: #43d6ca;
    }

    /**
     * Links
     */
    a{
        color: #42cab3;
    }

    a:hover{
        color: #08f7db;
    }

    /**
     *  Sidebar styles
     */
    .sidebar {
        background-color: #1a1a1a;
    }

    .sidebar input.btn {
        margin: 6px 5px;
        width: 95px;
    }

    p.sidebar-title, .page-top {
        border-bottom-color: #40c2ac;
    }

    .sidebar ul.nav {
        padding: 5px 10px;
    }

    /**
    * Misc. Style Overrides
    */
    .close {
        float: right;
        font-size: 21px;
        font-weight: bold;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: 0.2;
        filter: alpha(opacity=20);
    }

    .close:hover, .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    /**
    * Scrollbar styles (doesn't work in firefox & opera)
    */
    body::-webkit-scrollbar {
        width: .5em;
    }

    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    body::-webkit-scrollbar-thumb {
        background-color: #444444;
        outline: none;
    }

    .col-sm-4.col-md-3.sidebar {
        overflow: hidden;
    }

    /**
     * Hide basic vagrant commands, we're better than that!
     */
    .sidebar .nav li code {
        display: none;
    }